{% extends 'IneiAuthBundle::layout.html.twig' %}
{% block css %}
<style type="text/css">
        body {
            padding-top: 180px;
            padding-bottom: 400px;
			background-image: -moz-linear-gradient(top, #fff, #7998aa);
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#7998aa));
			background-image: -o-linear-gradient(top, #fff, #7998aa);
			font-family: "Helvetica Neue",sans-serif;
			font-size: 15px;
			line-height: 1.2;
			color:#5c7883;			
        }

        .form-signin {
            max-width: 360px;
            padding: 20px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fbfcfe;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 45px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 4px 7px 2px rgba(36, 34, 3, 0.33)
        }
		
		.txth3 {
		font-size:19px;
		line-height: 29px;
		font-weight:normal;
		}

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <form action="{{ path("_admin_security_check") }}" method="post" id="login" class="form-signin">    
            <center><img alt="inei" src="{{ asset('bundles/inei/bootstrap/img/inei.png') }}" /></center>
            <h3 class="txth3"><center>Sistema de Registro de Planillas de Remuneraciones</center></h3>
            {% if error %}
            <div class="error">{{ error.message }}</div>
    {% endif %}
                <input type="text" class="input-block-level" placeholder="Usuario" id="username" name="_username">
            <input type="password" class="input-block-level" placeholder="Contraseña" id="password" name="_password">
			<label class="checkbox">
					<input type="checkbox" value="remember-me">Recordarme
			</label>
            <center><button class="btn btn-primary" type="submit">Ingresar</button></center>
        </form>
    </div>
{% endblock %}